* {
    margin: 0;
    padding: 0;
    font-family: nunito;
}

body {
    padding: 0 18vw;
}

nav {
    display: flex;
    padding: 2rem;
}

ul {
    display: flex;
    gap: none;
    padding-left: auto;
}

ul li {
    list-style: none;
    padding: 1rem;

}

.icon {
    padding: 10px;
}

main {
    padding: 5% 7%;
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
    font-size: 50px;
}

h3 {
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    margin-top: 10px;
}

button {
    background: #00b6d1;
    color: white;
    font-size: larger;
    border-color: white;
    border-radius: 7px;
    padding: 10px;
    margin-top: 10px;
    width: fit-content;
    
}
.box2{
    margin-top: 2rem;
}
.top{
    display: flex;

}
.content{
display: grid;
padding: 10px;
margin-top: 2rem;
grid-template-columns: 1fr 1fr 1fr;
flex-wrap: wrap;

}
.card{
background: #e3e2e2;
align-content: center;
height: 15vh;
width: 15vw;
padding: auto;
font-weight: bolder;
margin: 1rem;

}
.cardbtn{
    background: #078a12;
    color: white;
    font-size: small;
    position: relative;
    left:  6rem;
}
a{
    text-decoration: none;
    color: white;
}
@media  screen and (max-width:500px) {
    
}